## Cleanup HTML using BeautifulSoup

Let us understand how to cleanup HTML using BeautifulSoup while copying content from one site to another.
* When we copy content from one site to another site, we might run into issues due to conflicting Java Script and CSS.
* It is better to clean up references to CSS, Java Script and even some of the irrelevant tags.
* We ran into similar issue while copying content from [https://python.itversity.com/04_postgres_database_operations/03_create_database_and_users_table.html](https://python.itversity.com/04_postgres_database_operations/03_create_database_and_users_table.html) to a blog post.
* Here are some of the clean up tasks we will perform to understand BeautifulSoup capabilities to clean up the HTML Content.
  * Remove the `script` tags along with content.
  * Remove anchor tag as it is having permalink referring to itself.
  * Removing the tags along with the content is called as `decompose`.
  * Remove div containers while retaining the inner tags with in the div container. Removing the tags with out touching the content in the tag is called as `unwrap`.

### Decomposing Tags

Let us see how we can remove the tag along with the content. It is called as `decompose`.

In [1]:
import requests

url = 'https://python.itversity.com/04_postgres_database_operations/03_create_database_and_users_table.html'
page = requests.get(url)

from bs4 import BeautifulSoup

soup = BeautifulSoup(page.content, 'html.parser')

In [2]:
mc = soup.find('div', id='main-content')

In [3]:
print(mc.prettify())

<div class="row" id="main-content">
 <div class="col-12 col-md-9 pl-md-3 pr-md-0">
  <div>
   <div class="section" id="create-database-and-users-table">
    <h1>
     Create Database and Users Table
     <a class="headerlink" href="#create-database-and-users-table" title="Permalink to this headline">
      Â¶
     </a>
    </h1>
    <p>
     Let us create a simple table by name users for now.
    </p>
    <ul class="simple">
     <li>
      <p>
       We can run database commands using
       <strong>
        %%sql with in Jupyter Notebook
       </strong>
       or
       <strong>
        psql
       </strong>
       or
       <strong>
        SQL Alchemy
       </strong>
       to create the tables in the database. You can use the tool as per your preference.
      </p>
     </li>
     <li>
      <p>
       If you are using our labs, you will get a database and user which will be prefixed with your OS username and the password which is published via our portal.
      </p>
     </li>
    </ul>
    <p>
     Here are the commands to create the database using
     <code class="docutils literal notranslate">
      <span class="pre">
       psql
      </span>
     </code>
     , in case if you are planning to use your own environment. You can only run these commands if you have access to database as super user.
    </p>
    <div class="highlight-default notranslate">
     <div class="highlight">
      <pre><span></span><span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="o">-</span><span class="n">h</span> <span class="n">localhost</span> <span class="o">-</span><span class="n">p</span> <span class="mi">5433</span> <span class="o">-</span><span class="n">W</span>
<span class="n">docker</span> <span class="n">exec</span> <span class="o">-</span><span class="n">it</span> <span class="n">sms_pg</span> <span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="c1"># in case postgres is running in docker container</span>

<span class="n">CREATE</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span><span class="p">;</span>
<span class="n">CREATE</span> <span class="n">USER</span> <span class="n">itversity_sms_user</span> <span class="n">WITH</span> <span class="n">ENCRYPTED</span> <span class="n">PASSWORD</span> <span class="s1">'itversity!23'</span><span class="p">;</span> <span class="o">--</span> <span class="n">Make</span> <span class="n">sure</span> <span class="n">to</span> <span class="n">use</span> <span class="nb">complex</span> <span class="n">password</span>
<span class="n">GRANT</span> <span class="n">ALL</span> <span class="n">ON</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span> <span class="n">TO</span> <span class="n">itversity_sms_user</span><span class="p">;</span>
</pre>
     </div>
    </div>
    <p>
     Once the database is created you can use
     <strong>
      %%sql with in Jupyter Notebook
     </strong>
     or
     <strong>
      psql
     </strong>
     or
     <strong>
      SQL Alchemy
     </strong>
     to create the tables in the database.
    </p>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">load_ext</span> sql
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">env</span> DATABASE_URL=postgresql://itversity_sms_user:itversity!23@localhost:5433/itversity_sms_db
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">sql</span> SELECT * FROM information_schema.tables LIMIT 10
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

CREATE TABLE users (
  user_id SERIAL PRIMARY KEY,
  user_first_name VARCHAR(30) NOT NULL,
  user_last_name VARCHAR(30) NOT NULL,
  user_email_id VARCHAR(50) NOT NULL,
  user_email_validated BOOLEAN DEFAULT FALSE,
  user_password VARCHAR(200),
  user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
  is_active BOOLEAN DEFAULT FALSE,
  created_dt DATE DEFAULT CURRENT_DATE,
  last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

SELECT *
FROM information_schema.tables
WHERE table_name = 'users'
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="n">display</span><span class="p">(</span><span class="n">result_set</span><span class="p">)</span>
</pre>
       </div>
      </div>
     </div>
    </div>
   </div>
   <script type="text/x-thebe-config">
    {
        requestKernel: true,
        binderOptions: {
            repo: "binder-examples/jupyter-stacks-datascience",
            ref: "master",
        },
        codeMirrorConfig: {
            theme: "abcdef",
            mode: "python"
        },
        kernelOptions: {
            kernelName: "python3",
            path: "./04_postgres_database_operations"
        },
        predefinedOutput: true
    }
   </script>
   <script>
    kernelName = 'python3'
   </script>
  </div>
 </div>
</div>

In [4]:
soup.find('div', id='main-content').find('script')

<script type="text/x-thebe-config">
    {
        requestKernel: true,
        binderOptions: {
            repo: "binder-examples/jupyter-stacks-datascience",
            ref: "master",
        },
        codeMirrorConfig: {
            theme: "abcdef",
            mode: "python"
        },
        kernelOptions: {
            kernelName: "python3",
            path: "./04_postgres_database_operations"
        },
        predefinedOutput: true
    }
    </script>

In [5]:
script = mc.find('script')

In [6]:
script

<script type="text/x-thebe-config">
    {
        requestKernel: true,
        binderOptions: {
            repo: "binder-examples/jupyter-stacks-datascience",
            ref: "master",
        },
        codeMirrorConfig: {
            theme: "abcdef",
            mode: "python"
        },
        kernelOptions: {
            kernelName: "python3",
            path: "./04_postgres_database_operations"
        },
        predefinedOutput: true
    }
    </script>

In [7]:
script.decompose()

In [8]:
soup.find('div', id='main-content').find('script')

In [9]:
import requests

url = 'https://python.itversity.com/04_postgres_database_operations/03_create_database_and_users_table.html'
page = requests.get(url)

from bs4 import BeautifulSoup

soup = BeautifulSoup(page.content, 'html.parser')

In [10]:
mc = soup.find('div', id='main-content')

In [11]:
for tag in mc.find_all('script'):
    print(tag)

<script type="text/x-thebe-config">
    {
        requestKernel: true,
        binderOptions: {
            repo: "binder-examples/jupyter-stacks-datascience",
            ref: "master",
        },
        codeMirrorConfig: {
            theme: "abcdef",
            mode: "python"
        },
        kernelOptions: {
            kernelName: "python3",
            path: "./04_postgres_database_operations"
        },
        predefinedOutput: true
    }
    </script>
<script>kernelName = 'python3'</script>

In [12]:
for tag in mc.find_all('script'):
    tag.decompose()

In [13]:
for tag in mc.find_all('script'):
    print(tag)

In [14]:
print(mc.prettify())

<div class="row" id="main-content">
 <div class="col-12 col-md-9 pl-md-3 pr-md-0">
  <div>
   <div class="section" id="create-database-and-users-table">
    <h1>
     Create Database and Users Table
     <a class="headerlink" href="#create-database-and-users-table" title="Permalink to this headline">
      Â¶
     </a>
    </h1>
    <p>
     Let us create a simple table by name users for now.
    </p>
    <ul class="simple">
     <li>
      <p>
       We can run database commands using
       <strong>
        %%sql with in Jupyter Notebook
       </strong>
       or
       <strong>
        psql
       </strong>
       or
       <strong>
        SQL Alchemy
       </strong>
       to create the tables in the database. You can use the tool as per your preference.
      </p>
     </li>
     <li>
      <p>
       If you are using our labs, you will get a database and user which will be prefixed with your OS username and the password which is published via our portal.
      </p>
     </li>
    </ul>
    <p>
     Here are the commands to create the database using
     <code class="docutils literal notranslate">
      <span class="pre">
       psql
      </span>
     </code>
     , in case if you are planning to use your own environment. You can only run these commands if you have access to database as super user.
    </p>
    <div class="highlight-default notranslate">
     <div class="highlight">
      <pre><span></span><span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="o">-</span><span class="n">h</span> <span class="n">localhost</span> <span class="o">-</span><span class="n">p</span> <span class="mi">5433</span> <span class="o">-</span><span class="n">W</span>
<span class="n">docker</span> <span class="n">exec</span> <span class="o">-</span><span class="n">it</span> <span class="n">sms_pg</span> <span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="c1"># in case postgres is running in docker container</span>

<span class="n">CREATE</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span><span class="p">;</span>
<span class="n">CREATE</span> <span class="n">USER</span> <span class="n">itversity_sms_user</span> <span class="n">WITH</span> <span class="n">ENCRYPTED</span> <span class="n">PASSWORD</span> <span class="s1">'itversity!23'</span><span class="p">;</span> <span class="o">--</span> <span class="n">Make</span> <span class="n">sure</span> <span class="n">to</span> <span class="n">use</span> <span class="nb">complex</span> <span class="n">password</span>
<span class="n">GRANT</span> <span class="n">ALL</span> <span class="n">ON</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span> <span class="n">TO</span> <span class="n">itversity_sms_user</span><span class="p">;</span>
</pre>
     </div>
    </div>
    <p>
     Once the database is created you can use
     <strong>
      %%sql with in Jupyter Notebook
     </strong>
     or
     <strong>
      psql
     </strong>
     or
     <strong>
      SQL Alchemy
     </strong>
     to create the tables in the database.
    </p>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">load_ext</span> sql
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">env</span> DATABASE_URL=postgresql://itversity_sms_user:itversity!23@localhost:5433/itversity_sms_db
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">sql</span> SELECT * FROM information_schema.tables LIMIT 10
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

CREATE TABLE users (
  user_id SERIAL PRIMARY KEY,
  user_first_name VARCHAR(30) NOT NULL,
  user_last_name VARCHAR(30) NOT NULL,
  user_email_id VARCHAR(50) NOT NULL,
  user_email_validated BOOLEAN DEFAULT FALSE,
  user_password VARCHAR(200),
  user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
  is_active BOOLEAN DEFAULT FALSE,
  created_dt DATE DEFAULT CURRENT_DATE,
  last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

SELECT *
FROM information_schema.tables
WHERE table_name = 'users'
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="n">display</span><span class="p">(</span><span class="n">result_set</span><span class="p">)</span>
</pre>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

In [15]:
mc.find('a', class_='headerlink')

In [16]:
headerlink = mc.find('a', class_='headerlink')

In [17]:
headerlink.decompose()

In [18]:
mc.find('a', class_='headerlink')

### Unwrapping Tags

Let us see how we can remove the tags without deleting the content. It is called as `unwrap`.

In [19]:
mc.find('div')

<div class="col-12 col-md-9 pl-md-3 pr-md-0">
<div>
<div class="section" id="create-database-and-users-table">
<h1>Create Database and Users Table</h1>
<p>Let us create a simple table by name users for now.</p>
<ul class="simple">
<li><p>We can run database commands using <strong>%%sql with in Jupyter Notebook</strong> or <strong>psql</strong> or <strong>SQL Alchemy</strong> to create the tables in the database. You can use the tool as per your preference.</p></li>
<li><p>If you are using our labs, you will get a database and user which will be prefixed with your OS username and the password which is published via our portal.</p></li>
</ul>
<p>Here are the commands to create the database using <code class="docutils literal notranslate"><span class="pre">psql</span></code>, in case if you are planning to use your own environment. You can only run these commands if you have access to database as super user.</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="o">-</span><span class="n">h</span> <span class="n">localhost</span> <span class="o">-</span><span class="n">p</span> <span class="mi">5433</span> <span class="o">-</span><span class="n">W</span>
<span class="n">docker</span> <span class="n">exec</span> <span class="o">-</span><span class="n">it</span> <span class="n">sms_pg</span> <span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="c1"># in case postgres is running in docker container</span>

<span class="n">CREATE</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span><span class="p">;</span>
<span class="n">CREATE</span> <span class="n">USER</span> <span class="n">itversity_sms_user</span> <span class="n">WITH</span> <span class="n">ENCRYPTED</span> <span class="n">PASSWORD</span> <span class="s1">'itversity!23'</span><span class="p">;</span> <span class="o">--</span> <span class="n">Make</span> <span class="n">sure</span> <span class="n">to</span> <span class="n">use</span> <span class="nb">complex</span> <span class="n">password</span>
<span class="n">GRANT</span> <span class="n">ALL</span> <span class="n">ON</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span> <span class="n">TO</span> <span class="n">itversity_sms_user</span><span class="p">;</span>
</pre></div>
</div>
<p>Once the database is created you can use <strong>%%sql with in Jupyter Notebook</strong> or <strong>psql</strong> or <strong>SQL Alchemy</strong> to create the tables in the database.</p>
<div class="cell docutils container">
<div class="cell_input docutils container">
<div class="highlight-ipython3 notranslate"><div class="highlight"><pre><span></span><span class="o">%</span><span class="k">load_ext</span> sql
</pre></div>
</div>
</div>
</div>
<div class="cell docutils container">
<div class="cell_input docutils container">
<div class="highlight-ipython3 notranslate"><div class="highlight"><pre><span></span><span class="o">%</span><span class="k">env</span> DATABASE_URL=postgresql://itversity_sms_user:itversity!23@localhost:5433/itversity_sms_db
</pre></div>
</div>
</div>
</div>
<div class="cell docutils container">
<div class="cell_input docutils container">
<div class="highlight-ipython3 notranslate"><div class="highlight"><pre><span></span><span class="o">%</span><span class="k">sql</span> SELECT * FROM information_schema.tables LIMIT 10
</pre></div>
</div>
</div>
</div>
<div class="cell docutils container">
<div class="cell_input docutils container">
<div class="highlight-ipython3 notranslate"><div class="highlight"><pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

CREATE TABLE users (
  user_id SERIAL PRIMARY KEY,
  user_first_name VARCHAR(30) NOT NULL,
  user_last_name VARCHAR(30) NOT NULL,
  user_email_id VARCHAR(50) NOT NULL,
  user_email_validated BOOLEAN DEFAULT FALSE,
  user_password VARCHAR(200),
  user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
  is_active BOOLEAN DEFAULT FALSE,
  created_dt DATE DEFAULT CURRENT_DATE,
  last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
</pre></div>
</div>
</div>
</div>
<div class="cell docutils container">
<div class="cell_input docutils container">
<div class="highlight-ipython3 notranslate"><div class="highlight"><pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

SELECT *
FROM information_schema.tables
WHERE table_name = 'users'
</pre></div>
</div>
</div>
</div>
<div class="cell docutils container">
<div class="cell_input docutils container">
<div class="highlight-ipython3 notranslate"><div class="highlight"><pre><span></span><span class="n">display</span><span class="p">(</span><span class="n">result_set</span><span class="p">)</span>
</pre></div>
</div>
</div>
</div>
</div>


</div>
</div>

In [20]:
for tag in mc.find_all('div'):
    tag.unwrap()

In [21]:
mc.find('div')

In [22]:
print(mc.prettify())

<div class="row" id="main-content">
 <h1>
  Create Database and Users Table
 </h1>
 <p>
  Let us create a simple table by name users for now.
 </p>
 <ul class="simple">
  <li>
   <p>
    We can run database commands using
    <strong>
     %%sql with in Jupyter Notebook
    </strong>
    or
    <strong>
     psql
    </strong>
    or
    <strong>
     SQL Alchemy
    </strong>
    to create the tables in the database. You can use the tool as per your preference.
   </p>
  </li>
  <li>
   <p>
    If you are using our labs, you will get a database and user which will be prefixed with your OS username and the password which is published via our portal.
   </p>
  </li>
 </ul>
 <p>
  Here are the commands to create the database using
  <code class="docutils literal notranslate">
   <span class="pre">
    psql
   </span>
  </code>
  , in case if you are planning to use your own environment. You can only run these commands if you have access to database as super user.
 </p>
 <pre><span></span><span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="o">-</span><span class="n">h</span> <span class="n">localhost</span> <span class="o">-</span><span class="n">p</span> <span class="mi">5433</span> <span class="o">-</span><span class="n">W</span>
<span class="n">docker</span> <span class="n">exec</span> <span class="o">-</span><span class="n">it</span> <span class="n">sms_pg</span> <span class="n">psql</span> <span class="o">-</span><span class="n">U</span> <span class="n">postgres</span> <span class="c1"># in case postgres is running in docker container</span>

<span class="n">CREATE</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span><span class="p">;</span>
<span class="n">CREATE</span> <span class="n">USER</span> <span class="n">itversity_sms_user</span> <span class="n">WITH</span> <span class="n">ENCRYPTED</span> <span class="n">PASSWORD</span> <span class="s1">'itversity!23'</span><span class="p">;</span> <span class="o">--</span> <span class="n">Make</span> <span class="n">sure</span> <span class="n">to</span> <span class="n">use</span> <span class="nb">complex</span> <span class="n">password</span>
<span class="n">GRANT</span> <span class="n">ALL</span> <span class="n">ON</span> <span class="n">DATABASE</span> <span class="n">itversity_sms_db</span> <span class="n">TO</span> <span class="n">itversity_sms_user</span><span class="p">;</span>
</pre>
 <p>
  Once the database is created you can use
  <strong>
   %%sql with in Jupyter Notebook
  </strong>
  or
  <strong>
   psql
  </strong>
  or
  <strong>
   SQL Alchemy
  </strong>
  to create the tables in the database.
 </p>
 <pre><span></span><span class="o">%</span><span class="k">load_ext</span> sql
</pre>
 <pre><span></span><span class="o">%</span><span class="k">env</span> DATABASE_URL=postgresql://itversity_sms_user:itversity!23@localhost:5433/itversity_sms_db
</pre>
 <pre><span></span><span class="o">%</span><span class="k">sql</span> SELECT * FROM information_schema.tables LIMIT 10
</pre>
 <pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

CREATE TABLE users (
  user_id SERIAL PRIMARY KEY,
  user_first_name VARCHAR(30) NOT NULL,
  user_last_name VARCHAR(30) NOT NULL,
  user_email_id VARCHAR(50) NOT NULL,
  user_email_validated BOOLEAN DEFAULT FALSE,
  user_password VARCHAR(200),
  user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
  is_active BOOLEAN DEFAULT FALSE,
  created_dt DATE DEFAULT CURRENT_DATE,
  last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
</pre>
 <pre><span></span><span class="o">%%</span><span class="k">sql</span> result_set &lt;&lt;

SELECT *
FROM information_schema.tables
WHERE table_name = 'users'
</pre>
 <pre><span></span><span class="n">display</span><span class="p">(</span><span class="n">result_set</span><span class="p">)</span>
</pre>
</div>

In [23]:
for tag in mc.find_all('span'):
    tag.unwrap()

In [24]:
print(mc.prettify())

<div class="row" id="main-content">
 <h1>
  Create Database and Users Table
 </h1>
 <p>
  Let us create a simple table by name users for now.
 </p>
 <ul class="simple">
  <li>
   <p>
    We can run database commands using
    <strong>
     %%sql with in Jupyter Notebook
    </strong>
    or
    <strong>
     psql
    </strong>
    or
    <strong>
     SQL Alchemy
    </strong>
    to create the tables in the database. You can use the tool as per your preference.
   </p>
  </li>
  <li>
   <p>
    If you are using our labs, you will get a database and user which will be prefixed with your OS username and the password which is published via our portal.
   </p>
  </li>
 </ul>
 <p>
  Here are the commands to create the database using
  <code class="docutils literal notranslate">
   psql
  </code>
  , in case if you are planning to use your own environment. You can only run these commands if you have access to database as super user.
 </p>
 <pre>psql -U postgres -h localhost -p 5433 -W
docker exec -it sms_pg psql -U postgres # in case postgres is running in docker container

CREATE DATABASE itversity_sms_db;
CREATE USER itversity_sms_user WITH ENCRYPTED PASSWORD 'itversity!23'; -- Make sure to use complex password
GRANT ALL ON DATABASE itversity_sms_db TO itversity_sms_user;
</pre>
 <p>
  Once the database is created you can use
  <strong>
   %%sql with in Jupyter Notebook
  </strong>
  or
  <strong>
   psql
  </strong>
  or
  <strong>
   SQL Alchemy
  </strong>
  to create the tables in the database.
 </p>
 <pre>%load_ext sql
</pre>
 <pre>%env DATABASE_URL=postgresql://itversity_sms_user:itversity!23@localhost:5433/itversity_sms_db
</pre>
 <pre>%sql SELECT * FROM information_schema.tables LIMIT 10
</pre>
 <pre>%%sql result_set &lt;&lt;

CREATE TABLE users (
  user_id SERIAL PRIMARY KEY,
  user_first_name VARCHAR(30) NOT NULL,
  user_last_name VARCHAR(30) NOT NULL,
  user_email_id VARCHAR(50) NOT NULL,
  user_email_validated BOOLEAN DEFAULT FALSE,
  user_password VARCHAR(200),
  user_role VARCHAR(1) NOT NULL DEFAULT 'U', --U and A
  is_active BOOLEAN DEFAULT FALSE,
  created_dt DATE DEFAULT CURRENT_DATE,
  last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
</pre>
 <pre>%%sql result_set &lt;&lt;

SELECT *
FROM information_schema.tables
WHERE table_name = 'users'
</pre>
 <pre>display(result_set)
</pre>
</div>

* Here is another example. As most of our pages are in similar structure, we can develop a program which will clean up HTMLs for us so that we can publish the content on some target site or save into the database.

In [25]:
import requests

url = 'https://postgresql.itversity.com/03_writing_basic_sql_queries/08_joining_tables_inner.html'
page = requests.get(url)

from bs4 import BeautifulSoup

soup = BeautifulSoup(page.content, 'html.parser')

In [26]:
mc = soup.find('div', id='main-content')

In [27]:
print(mc.prettify())

<div class="row" id="main-content">
 <div class="col-12 col-md-9 pl-md-3 pr-md-0">
  <div>
   <div class="section" id="joining-tables-inner">
    <h1>
     Joining Tables â Inner
     <a class="headerlink" href="#joining-tables-inner" title="Permalink to this headline">
      Â¶
     </a>
    </h1>
    <p>
     Let us understand how to join data from multiple tables.
    </p>
    <ul class="simple">
     <li>
      <p>
       We will primarily focus on ANSI style join (
       <strong>
        JOIN with ON
       </strong>
       ).
      </p>
     </li>
     <li>
      <p>
       There are different types of joins.
      </p>
      <ul>
       <li>
        <p>
         INNER JOIN - Get all the records from both the datasets which satisfies JOIN condition.
        </p>
       </li>
       <li>
        <p>
         OUTER JOIN - We will get into the details as part of the next topic
        </p>
       </li>
      </ul>
     </li>
     <li>
      <p>
       Example for INNER JOIN
      </p>
     </li>
    </ul>
    <div class="highlight-sql notranslate">
     <div class="highlight">
      <pre><span></span><span class="k">SELECT</span> <span class="n">o</span><span class="p">.</span><span class="n">order_id</span><span class="p">,</span>
    <span class="n">o</span><span class="p">.</span><span class="n">order_date</span><span class="p">,</span>
    <span class="n">o</span><span class="p">.</span><span class="n">order_status</span><span class="p">,</span>
    <span class="n">oi</span><span class="p">.</span><span class="n">order_item_subtotal</span>
<span class="k">FROM</span> <span class="n">orders</span> <span class="n">o</span> <span class="k">JOIN</span> <span class="n">order_items</span> <span class="n">oi</span>
    <span class="k">ON</span> <span class="n">o</span><span class="p">.</span><span class="n">order_id</span> <span class="o">=</span> <span class="n">oi</span><span class="p">.</span><span class="n">order_item_order_id</span>
<span class="k">LIMIT</span> <span class="mi">10</span>
</pre>
     </div>
    </div>
    <ul class="simple">
     <li>
      <p>
       We can join more than 2 tables in one query. Here is how it will look like.
      </p>
     </li>
    </ul>
    <div class="highlight-sql notranslate">
     <div class="highlight">
      <pre><span></span><span class="k">SELECT</span> <span class="n">o</span><span class="p">.</span><span class="n">order_id</span><span class="p">,</span>
    <span class="n">o</span><span class="p">.</span><span class="n">order_date</span><span class="p">,</span>
    <span class="n">o</span><span class="p">.</span><span class="n">order_status</span><span class="p">,</span>
    <span class="n">oi</span><span class="p">.</span><span class="n">order_item_subtotal</span>
<span class="k">FROM</span> <span class="n">orders</span> <span class="n">o</span> <span class="k">JOIN</span> <span class="n">order_items</span> <span class="n">oi</span>
    <span class="k">ON</span> <span class="n">o</span><span class="p">.</span><span class="n">order_id</span> <span class="o">=</span> <span class="n">oi</span><span class="p">.</span><span class="n">order_item_order_id</span>
    <span class="k">JOIN</span> <span class="n">products</span> <span class="n">p</span>
    <span class="k">ON</span> <span class="n">p</span><span class="p">.</span><span class="n">product_id</span> <span class="o">=</span> <span class="n">oi</span><span class="p">.</span><span class="n">order_item_product_id</span>
<span class="k">LIMIT</span> <span class="mi">10</span>
</pre>
     </div>
    </div>
    <ul class="simple">
     <li>
      <p>
       If we have to apply additional filters, it is recommended to use WHERE clause. ON clause should only have join conditions.
      </p>
     </li>
     <li>
      <p>
       We can have non equal join conditions as well, but they are not used that often.
      </p>
     </li>
     <li>
      <p>
       Here are some of the examples for INNER JOIN:
      </p>
      <ul>
       <li>
        <p>
         Get order id, date, status and item revenue for all order items.
        </p>
       </li>
       <li>
        <p>
         Get order id, date, status and item revenue for all order items for all orders where order status is either COMPLETE or CLOSED.
        </p>
       </li>
       <li>
        <p>
         Get order id, date, status and item revenue for all order items for all orders where order status is either COMPLETE or CLOSED for the orders that are placed in the month of 2014 January.
        </p>
       </li>
      </ul>
     </li>
    </ul>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">load_ext</span> sql
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span>The sql extension is already loaded. To reload it, use:
  %reload_ext sql
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">env</span> DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span>env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db
</pre>
       </div>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span>

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.
</pre>
       </div>
      </div>
      <div class="output text_html">
       <table>
        <tr>
         <th>
          order_id
         </th>
         <th>
          order_date
         </th>
         <th>
          order_status
         </th>
         <th>
          order_item_subtotal
         </th>
        </tr>
        <tr>
         <td>
          1
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          299.98
         </td>
        </tr>
        <tr>
         <td>
          2
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          PENDING_PAYMENT
         </td>
         <td>
          199.99
         </td>
        </tr>
        <tr>
         <td>
          2
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          PENDING_PAYMENT
         </td>
         <td>
          250.0
         </td>
        </tr>
        <tr>
         <td>
          2
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          PENDING_PAYMENT
         </td>
         <td>
          129.99
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          49.98
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          299.95
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          150.0
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          199.92
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          299.98
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          299.95
         </td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">sql</span> SELECT count(1) FROM orders
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
       </div>
      </div>
      <div class="output text_html">
       <table>
        <tr>
         <th>
          count
         </th>
        </tr>
        <tr>
         <td>
          68883
         </td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%</span><span class="k">sql</span> SELECT count(1) FROM order_items
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
       </div>
      </div>
      <div class="output text_html">
       <table>
        <tr>
         <th>
          count
         </th>
        </tr>
        <tr>
         <td>
          172198
         </td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span>

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
       </div>
      </div>
      <div class="output text_html">
       <table>
        <tr>
         <th>
          count
         </th>
        </tr>
        <tr>
         <td>
          172198
         </td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span>

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.
</pre>
       </div>
      </div>
      <div class="output text_html">
       <table>
        <tr>
         <th>
          order_id
         </th>
         <th>
          order_date
         </th>
         <th>
          order_status
         </th>
         <th>
          order_item_subtotal
         </th>
        </tr>
        <tr>
         <td>
          1
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          299.98
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          49.98
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          299.95
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          150.0
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          199.92
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          299.98
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          299.95
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          99.96
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          299.98
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          2013-07-25 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          129.99
         </td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span>

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
       </div>
      </div>
      <div class="output text_html">
       <table>
        <tr>
         <th>
          count
         </th>
        </tr>
        <tr>
         <td>
          75408
         </td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span>

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'
LIMIT 10
</pre>
       </div>
      </div>
     </div>
     <div class="cell_output docutils container">
      <div class="output stream highlight-myst-ansi notranslate">
       <div class="highlight">
        <pre><span></span> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.
</pre>
       </div>
      </div>
      <div class="output text_html">
       <table>
        <tr>
         <th>
          order_id
         </th>
         <th>
          order_date
         </th>
         <th>
          order_status
         </th>
         <th>
          order_item_subtotal
         </th>
        </tr>
        <tr>
         <td>
          25882
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          299.97
         </td>
        </tr>
        <tr>
         <td>
          25882
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          100.0
         </td>
        </tr>
        <tr>
         <td>
          25882
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          79.98
         </td>
        </tr>
        <tr>
         <td>
          25882
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          399.98
         </td>
        </tr>
        <tr>
         <td>
          25888
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          299.98
         </td>
        </tr>
        <tr>
         <td>
          25889
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          99.96
         </td>
        </tr>
        <tr>
         <td>
          25889
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          COMPLETE
         </td>
         <td>
          19.99
         </td>
        </tr>
        <tr>
         <td>
          25891
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          150.0
         </td>
        </tr>
        <tr>
         <td>
          25891
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          50.0
         </td>
        </tr>
        <tr>
         <td>
          25891
         </td>
         <td>
          2014-01-01 00:00:00
         </td>
         <td>
          CLOSED
         </td>
         <td>
          119.97
         </td>
        </tr>
       </table>
      </div>
     </div>
    </div>
    <div class="cell docutils container">
     <div class="cell_input docutils container">
      <div class="highlight-ipython3 notranslate">
       <div class="highlight">
        <pre><span></span><span class="o">%%</span><span class="k">sql</span>


In [28]:
mc = soup.find('div', id='main-content')

In [29]:
for tag in mc.find_all('script'):
    tag.decompose()

In [30]:
headerlink = mc.find('a', class_='headerlink')

In [31]:
headerlink.decompose()

In [32]:
for tag in mc.find_all('div'):
    tag.unwrap()

In [33]:
for tag in mc.find_all('span'):
    tag.unwrap()

In [34]:
print(mc.prettify())

<div class="row" id="main-content">
 <h1>
  Joining Tables â Inner
 </h1>
 <p>
  Let us understand how to join data from multiple tables.
 </p>
 <ul class="simple">
  <li>
   <p>
    We will primarily focus on ANSI style join (
    <strong>
     JOIN with ON
    </strong>
    ).
   </p>
  </li>
  <li>
   <p>
    There are different types of joins.
   </p>
   <ul>
    <li>
     <p>
      INNER JOIN - Get all the records from both the datasets which satisfies JOIN condition.
     </p>
    </li>
    <li>
     <p>
      OUTER JOIN - We will get into the details as part of the next topic
     </p>
    </li>
   </ul>
  </li>
  <li>
   <p>
    Example for INNER JOIN
   </p>
  </li>
 </ul>
 <pre>SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10
</pre>
 <ul class="simple">
  <li>
   <p>
    We can join more than 2 tables in one query. Here is how it will look like.
   </p>
  </li>
 </ul>
 <pre>SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
    JOIN products p
    ON p.product_id = oi.order_item_product_id
LIMIT 10
</pre>
 <ul class="simple">
  <li>
   <p>
    If we have to apply additional filters, it is recommended to use WHERE clause. ON clause should only have join conditions.
   </p>
  </li>
  <li>
   <p>
    We can have non equal join conditions as well, but they are not used that often.
   </p>
  </li>
  <li>
   <p>
    Here are some of the examples for INNER JOIN:
   </p>
   <ul>
    <li>
     <p>
      Get order id, date, status and item revenue for all order items.
     </p>
    </li>
    <li>
     <p>
      Get order id, date, status and item revenue for all order items for all orders where order status is either COMPLETE or CLOSED.
     </p>
    </li>
    <li>
     <p>
      Get order id, date, status and item revenue for all order items for all orders where order status is either COMPLETE or CLOSED for the orders that are placed in the month of 2014 January.
     </p>
    </li>
   </ul>
  </li>
 </ul>
 <pre>%load_ext sql
</pre>
 <pre>The sql extension is already loaded. To reload it, use:
  %reload_ext sql
</pre>
 <pre>%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db
</pre>
 <pre>env: DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db
</pre>
 <pre>%%sql

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.
</pre>
 <table>
  <tr>
   <th>
    order_id
   </th>
   <th>
    order_date
   </th>
   <th>
    order_status
   </th>
   <th>
    order_item_subtotal
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    299.98
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    PENDING_PAYMENT
   </td>
   <td>
    199.99
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    PENDING_PAYMENT
   </td>
   <td>
    250.0
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    PENDING_PAYMENT
   </td>
   <td>
    129.99
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    49.98
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    299.95
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    150.0
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    199.92
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    299.98
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    299.95
   </td>
  </tr>
 </table>
 <pre>%sql SELECT count(1) FROM orders
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
 <table>
  <tr>
   <th>
    count
   </th>
  </tr>
  <tr>
   <td>
    68883
   </td>
  </tr>
 </table>
 <pre>%sql SELECT count(1) FROM order_items
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
 <table>
  <tr>
   <th>
    count
   </th>
  </tr>
  <tr>
   <td>
    172198
   </td>
  </tr>
 </table>
 <pre>%%sql

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
 <table>
  <tr>
   <th>
    count
   </th>
  </tr>
  <tr>
   <td>
    172198
   </td>
  </tr>
 </table>
 <pre>%%sql

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.
</pre>
 <table>
  <tr>
   <th>
    order_id
   </th>
   <th>
    order_date
   </th>
   <th>
    order_status
   </th>
   <th>
    order_item_subtotal
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    299.98
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    49.98
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    299.95
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    150.0
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    199.92
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    299.98
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    299.95
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    99.96
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    299.98
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    2013-07-25 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    129.99
   </td>
  </tr>
 </table>
 <pre>%%sql

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
LIMIT 10
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
 <table>
  <tr>
   <th>
    count
   </th>
  </tr>
  <tr>
   <td>
    75408
   </td>
  </tr>
 </table>
 <pre>%%sql

SELECT o.order_id,
    o.order_date,
    o.order_status,
    oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'
LIMIT 10
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
10 rows affected.
</pre>
 <table>
  <tr>
   <th>
    order_id
   </th>
   <th>
    order_date
   </th>
   <th>
    order_status
   </th>
   <th>
    order_item_subtotal
   </th>
  </tr>
  <tr>
   <td>
    25882
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    299.97
   </td>
  </tr>
  <tr>
   <td>
    25882
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    100.0
   </td>
  </tr>
  <tr>
   <td>
    25882
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    79.98
   </td>
  </tr>
  <tr>
   <td>
    25882
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    399.98
   </td>
  </tr>
  <tr>
   <td>
    25888
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    299.98
   </td>
  </tr>
  <tr>
   <td>
    25889
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    99.96
   </td>
  </tr>
  <tr>
   <td>
    25889
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    COMPLETE
   </td>
   <td>
    19.99
   </td>
  </tr>
  <tr>
   <td>
    25891
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    150.0
   </td>
  </tr>
  <tr>
   <td>
    25891
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    50.0
   </td>
  </tr>
  <tr>
   <td>
    25891
   </td>
   <td>
    2014-01-01 00:00:00
   </td>
   <td>
    CLOSED
   </td>
   <td>
    119.97
   </td>
  </tr>
 </table>
 <pre>%%sql

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
    AND to_char(order_date, 'yyyy-MM') = '2014-01'
LIMIT 10
</pre>
 <pre> * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.
</pre>
 <table>
  <tr>
   <th>
    count
   </th>
  </tr>
  <tr>
   <td>
    6198
   </td>
  </tr>
 </table>
</div>