## Exercise 2 - Create Table for Courses

Create table - **courses**
* **course_id** - sequence generated integer and primary key
* **course_name** - which holds alpha numeric or string values up to 60 characters
* **course_author** - which holds the name of the author up to 40 characters
* **course_status** - which holds one of these values (**published**, **draft**, **inactive**). It should also be defaulted to **draft**.
* **course_published_dt** - which holds date type value.

In [2]:
%run 00_get_database_connection.ipynb

* Drop the table if already exists. Run below cells to drop it.

In [1]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://deepan:DB_PASSWORD@localhost:5432/sms_db

env: DATABASE_URL=postgresql://deepan:DB_PASSWORD@localhost:5432/sms_db

In [4]:
%%sql

DROP TABLE IF EXISTS courses

Done.

[]

In [5]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://deepan:***@localhost:5432/sms_db
3 rows affected.

[('sms_db', 'public', 'stations', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'station_rental_types', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

* Develop the logic to create the table using Python.

In [6]:
connection = get_pg_connection(
    host='',
    port='',
    database='sms_db',
    user='',
    password=''
)

In [7]:
# The code to create the table should go here.
# Make sure the constraints, sequence, default values are honored as per the requirement

query_to_create_tables = """
CREATE TABLE courses(
    course_id SERIAL PRIMARY KEY, 
    course_name VARCHAR(60),
    course_author varchar(40),
    course_status VARCHAR CHECK (course_status IN ('published','draft','inactive')),
    course_published_dt DATE
    )
"""

In [8]:
connection.cursor().execute(query_to_create_tables)
connection.commit()
connection.close()

* Validate by running query here. The below query should return the table that is created.

In [10]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://deepan:***@localhost:5432/sms_db
4 rows affected.

[('sms_db', 'public', 'stations', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'station_rental_types', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('sms_db', 'public', 'courses', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [11]:
%%sql 

SELECT * FROM information_schema.columns 
WHERE table_catalog = 'sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://deepan:***@localhost:5432/sms_db
10 rows affected.

[('sms_db', 'public', 'stations', 'id', 1, "nextval('stations_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'station_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'station_type', 3, None, 'YES', 'character varying', 100, 400, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'name', 4, None, 'YES', 'character varying', 80, 320, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'short_name', 5, None, 'YES', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'capacity', 6, None, 'YES', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'int4', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'external_id', 7, None, 'YES', 'character varying', 90, 360, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'has_kiosk', 8, None, 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'legacy_id', 9, None, 'YES', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('sms_db', 'public', 'stations', 'region_id', 10, None, 'YES', 'character varying', 50, 200, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sms_db', 'pg_catalog', 'varchar', None, None, None, None, '10', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]